@charset "utf-8";

* {margin:0; padding:0; box-sizing: border-box;}

a {text-decoration: none; color: black;}

body#top {overflow: hidden;}

/***********************header***************************/
header {
    text-align: right; padding: 20px; position: relative;
    background: white;
}

header>div {display:flex; }
#outer {flex:1; padding:20px; }

header>div> button.material-symbols-outlined {
    background: none; font-size:2rem; margin-bottom:20px; border:none; padding:20px;
}

header nav {
    background-color: rgba(0,0,0,0.7); height: 100vh;
    left: 0; width: 100%;
    position: absolute; transition: all 0.7s; /* overflow: hidden; */
}


header nav a {
    display: block; color: white; font-size: 1.5rem; font-weight: bold;
    text-align: center; margin: 30px;
}

/*********************/

footer {
    background: black; padding:30px; text-align: center;
    position:fixed; left:0; bottom:0; width:100%;
}
footer nav a {
    color:white; padding:5px; margin:5px;
}